body{
    margin:0;
    font-family:Arial;
}
header{
    background:#b57111;
    padding:15px;
}
nav a{
    color:white;
    margin:0 15px;
    text-decoration:none;
}
section{
    text-align:center;
    padding:50px;
}
img{max-width:200px;
    border-radius:10px;
}
.projects{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}
.card{
    width:280px;
    padding:20px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}
footer{
    background:#f59e25;
    color:white;
    text-align:center;
    padding:20px;
}
